 <br><br>
<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<div class="vertical">
	<p class="main_text">Main text	
	</p>
		
		<p class="main_text_middle">Your Digital Business Card
		</p>
		
		<br><br>
		
  	  <div class="form-group main_text_small">
  	    <label for="exampleInputEmail1">get your listing:</label>
	</div>
	     <%= simple_form_for @blank_form, url: blank_form_path  do |f| %>
		 
	       <%= f.input :email, :placeholder=>"Your Email Address" , label: false %> 
	
  <div class="form-group main_text_small"> 
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
   
	         <%= f.button :submit, 'Get your Listing', :class=> "btn btn-primary" %>
	   	 
	     <% end %>
		
	
 
	 
 
		
		
	</div>	
	</div>
		
		<div class="col-md-6">
 
	 
	 
	  <%= image_tag("phone.png", :class =>"img", :alt => "Laptop-email-received" ) %>
 
  
 
 
 
 </div>
 
 </div>