.fa-facebook {
	background:#3b5998
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}
.fa-google-plus {
	background:#dd4b39
} 

 .fa-envelope-o {
 	background:#dd4b39
 } 
 
 
 
 .fa-phone {
 	background:#00aced
 } 
 
 
 
 .fa-deviantart {
 	background:#00aced
 } 
 .fa-digg {
 	background:#00aced
 } 
 .fa-dribbble {
 	background:#00aced
 } 
 .fa-etsy{
 	background:#00aced
 } 

 .fa-flickr {
 	background:#00aced
 } 
 .fa-foursquare {
 	background:#00aced
 } 
 .fa-github {
 	background:#00aced
 } 

 .fa-houzz {
 	background:#00aced
 } 
 .fa-instagram {
 	background:#00aced
 } 
 
 .fa-pinterest {
 	background:#00aced
 } 
 .fa-quora {
 	background:#00aced
 } 
 .fa-reddit {
 	background:#00aced
 } 
 .fa-skype {
 	background:#00aced
 } 
 .fa-slack {
 	background:#00aced
 } 
 .fa-slideshare {
 	background:#00aced
 } 
 .fa-snapchat {
 	background:#00aced
 } 
 .fa-snapchat-ghost {
 	background:#00aced
 } 
 .fa-soundcloud {
 	background:#00aced
 } 
 .fa-spotify {
 	background:#00aced
 } 
 .fa-stumbleupon {
 	background:#00aced
 } 
 .fa-trello {
 	background:#00aced
 } 
 .fa-tumblr {
 	background:#00aced
 } 
  
 .fa-vimeo {
 	background:#00aced
 } 
 .fa-vine {
 	background:#00aced
 } 
 .fa-whatsapp {
 	background:#00aced
 } 
 .fa-wikipedia-w {
 	background:#00aced
 } 
 .fa-wordpress {
 	background:#00aced
 } 
 .fa-yelp {
 	background:#00aced
 } 
 .fa-youtube {
 	background:#00aced
 } 