<%- model_class = Icon -%>
  <div class="block"> 
 <div class="row">  
  <div class="col-sm-offset-1 col-sm-10"> 
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>


</div></div></div>
