 
     <div class="form-group select optional detail_social_link_1_icon_id"><select class="form-control select optional fa-select " name="detail[social_link_1_icon_id]" id="detail_social_link_1_icon_id"><option value=""></option>
		 
 
     <option>&#xf05e; Blocker</option>
     <option>&#xf102; Critical</option>
     <option>&#xf106; Major</option>
     <option>&#xf107; Minor</option>
     <option>&#xf103; Trivial</option>
 
<option value="1">500PX</option>
  
  <option style="a fa-user-o">others</option>
 
<option value="2"> <i class="fa fa-user-o" aria-hidden="true"></i> ADN</option>
<option value="3">AMAZON</option>
<option value="4">ANDROID</option>
<option value="5">ANGELLIST</option>
<option value="6">APPLE</option>
<option value="7">BANDCAMP</option>
<option value="8">BEHANCE</option>
<option value="9">BITBUCKET</option>
<option value="10">BLACK-TIE</option>
<option value="11">BLUETOOTH</option>
<option value="12">BLUETOOTH-B</option>
<option value="13">BITCOIN</option>
<option value="14">BUYSELLADS</option>
<option value="15">CHROME</option>
<option value="16">CODEPEN</option>
<option value="17">CODIEPIE</option>
<option value="18">CONNECTDEVELOP</option>
<option value="19">CONTAO</option>
<option value="20">CSS3</option>
<option value="21">DASHCUBE</option>
<option value="22">DELICIOUS</option>
<option value="23">DEVIANTART</option>
<option value="24">DIGG</option>
<option value="25">DRIBBBLE</option>
<option value="26">DROPBOX</option>
<option value="27">DRUPAL</option>
<option value="28">EDGE</option>
<option value="29">EERCAST</option>
<option value="30">EMPIRE</option>
<option value="31">ENVIRA</option>
<option value="32">ETSY</option>
<option value="33">EXPEDITEDSSL</option>
<option value="34">FACEBOOK</option>
<option value="35">FIREFOX</option>
<option value="36">FIRST-ORDER</option>
<option value="37">FLICKR</option>
<option value="38">FONT-AWESOME</option>
<option value="39">FONTICONS</option>
<option value="40">FORT-AWESOME</option>
<option value="41">FORUMBEE</option>
<option value="42">FOURSQUARE</option>
<option value="43">FREE-CODE-CAMP</option>
<option value="44">GET-POCKET</option>
<option value="45">GG</option>
<option value="46">GIT</option>
<option value="47">GITHUB</option>
<option value="48">GITLAB</option>
<option value="49">GLIDE</option>
<option value="50">GOOGLE</option>
<option value="51">GOOGLE-PLUS</option>
<option value="52">GOOGLE-WALLET</option>
<option value="53">GRATIPAY</option>
<option value="54">GRAV</option>
<option value="55">HACKER-NEWS</option>
<option value="56">HOUZZ</option>
<option value="57">HTML5</option>
<option value="58">IMDB</option>
<option value="59">INSTAGRAM</option>
<option value="60">INTERNET-EXPLORER</option>
<option value="61">IOXHOST</option>
<option value="62">JOOMLA</option>
<option value="63">JSFIDDLE</option>
<option value="64">LASTFM</option>
<option value="65">LEANPUB</option>
<option value="66">LINKEDIN</option>
<option value="67">LINODE</option>
<option value="68">LINUX</option>
<option value="69">MAXCDN</option>
<option value="70">MEANPATH</option>
<option value="71">MEDIUM</option>
<option value="72">MEETUP</option>
<option value="73">MIXCLOUD</option>
<option value="74">MODX</option>
<option value="75">ODNOKLASSNIKI</option>
<option value="76">OPENCART</option>
<option value="77">OPENID</option>
<option value="78">OPERA</option>
<option value="79">OPTIN-MONSTER</option>
<option value="80">PAGELINES</option>
<option value="81">PAYPAL</option>
<option value="82">PIED-PIPER</option>
<option value="83">PINTEREST</option>
<option value="84">PRODUCT-HUNT</option>
<option value="85">QQ</option>
<option value="86">QUORA</option>
<option value="87">RAVELRY</option>
<option value="88">REBEL</option>
<option value="89">REDDIT</option>
<option value="90">RENREN</option>
<option value="91">SAFARI</option>
<option value="92">SCRIBD</option>
<option value="93">SELLSY</option>
<option value="94">SHARE-ALT</option>
<option value="95">SHIRTSINBULK</option>
<option value="96">SIMPLYBUILT</option>
<option value="97">SKYATLAS</option>
<option value="98">SKYPE</option>
<option value="99">SLACK</option>
<option value="100">SLIDESHARE</option>
<option value="101">SNAPCHAT-GHOST</option>
<option value="102">SOUNDCLOUD</option>
<option value="103">SPOTIFY</option>
<option value="104">STACK-EXCHANGE</option>
<option value="105">STACK-OVERFLOW</option>
<option value="106">STEAM</option>
<option value="107">STUMBLEUPON</option>
<option value="108">SUPERPOWERS</option>
<option value="109">TELEGRAM</option>
<option value="110">TENCENT-WEIBO</option>
<option value="111">THEMEISLE</option>
<option value="112">TRELLO</option>
<option value="113">TRIPADVISOR</option>
<option value="114">TUMBLR</option>
<option value="115">TWITCH</option>
<option value="116">TWITTER</option>
<option value="117">USB</option>
<option value="118">VIACOIN</option>
<option value="119">VIADEO</option>
<option value="120">VIMEO</option>
<option value="121">VINE</option>
<option value="122">VK</option>
<option value="123">WEIBO</option>
<option value="124">WEIXIN</option>
<option value="125">WHATSAPP</option>
<option value="126">WIKIPEDIA-W</option>
<option value="127">WINDOWS</option>
<option value="128">WORDPRESS</option>
<option value="129">WPBEGINNER</option>
<option value="130">WPEXPLORER</option>
<option value="131">WPFORMS</option>
<option value="132">XING</option>
<option value="133">Y-COMBINATOR</option>
<option value="134">YAHOO</option>
<option value="135">YELP</option>
<option value="136">YOAST</option>
<option value="137">YOUTUBE</option></select> 
</div>