<%- model_class = Detail -%>
 
<div class="block">
<div class="page-header col-md-offset-1">
  <h1>Edit Your Information</h1>
</div>
<div class=" block page-header col-md-offset-1 col-md-8">
<%= render :partial => 'form' %>
</div>
</div>
