<%- model_class = Detail -%>
 
 
<div class="row block-semi-tansparent">
 <div class="col-sm-offset-1 col-sm-10"> 
	 
	 <br> 
  <div class="qf b aml">
 <h4> Send people to:  <%= link_to "#{ENV['DOMAIN_NAME']}/#{current_user.name}", root_url+ "#{current_user.name}" %></h4>
 

 <%= render :partial => 'show', :detail => @detail %>

 </div>  
   <br> 
 </div>     
 </div>
 