<%- model_class = Detail -%>
 

 
 
  <div class="block"> 
    <div class="row">  
 <div class="col-sm-offset-1 col-sm-10"> 
 
 <h4> Send people to:  <%= link_to "#{ENV['DOMAIN_NAME']}/#{current_user.name}", root_url+ "#{current_user.name}" %></h4>
 

 <%= render :partial => 'show', :detail => @detail %>



			  
    <div class="row">  
 <div class="col-md-6">

				   <%= link_to "Edit account",  edit_user_registration_path , :class => 'btn btn-primary btn-block' %> 
    </div>
	 
 <div class="col-md-6">	
	<%= link_to "Edit Your Social Lnks above",
	              edit_detail_path(@detail), :class => 'btn btn-default btn-block ' %>
   
 </div> 

			  
 </div> 
 </div>
 </div>