 <nav class="navbar navbar-default navbar-fixed-bottom " role="navigation">
   <div class="container">
  
 		
		<div class="pull-left">Designed by <strong><a href="http://www.churchmarketingideas.com">Church Marketing Ideas</a> </strong>| Copyright 2016</div>
		
		<div class="pull-right">			 
 				 
 		<a href="https://www.facebook.com/groups/1694398920848271/" class="icon">
 			<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
 		</a>
 	   &nbsp;&nbsp;
 		<a href="https://twitter.com/therealcmi" class="icon">
 			<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
 		</a>
  			
 			 
 </div>

   </div>
 </nav>
 
  