 
 
  <div class="footer navbar-fixed-bottom">
 		
		 
		<div class="footer-text pull-left">  
		    <%= link_to 'SIGN IN', new_user_session_path, class: 'nav-link' %> | 
		     <%= link_to 'SIGN UP', new_user_registration_path, class: 'nav-link' %> | SUPPORT | CONTACT US  &nbsp &nbsp &nbsp Designed by <strong><a href="http://www.churchmarketingideas.com">Church Marketing Ideas</a> </strong>| Copyright 2016</div>
		
		<div class="pull-right">			 
 				 
 		<a href="https://www.facebook.com/groups/1694398920848271/" class="icon">
 			<span><i class="fa fa-facebook" aria-hidden="true"></i></span>
 		</a>
 	   &nbsp;&nbsp;
 		<a href="https://twitter.com/therealcmi" class="icon">
 			<span><i class="fa fa-twitter" aria-hidden="true"></i></span>
 		</a>
  			
 			 
 </div>

   </div>
 
 
  