<%# add navigation links to this file %>
<%#  <li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %> <%# </li> %>

		  <%= form_tag visitors_path, class:"navbar-form navbar-right", method: :get do %>
		       <%= text_field_tag :q,  nil, placeholder: "Search", :class => 'form-control' %>
		   <% end %>